:host {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

.widgets {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.charts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media (min-width: 1024px) {
    .charts,
    .widgets {
        grid-template-columns: 1fr 1fr;
    }
}

