<section class="widgets">
  <urb-balance
      [rents]="rents | async"
  ></urb-balance>

  <urb-rent-income
      [income]="rents | async"
  ></urb-rent-income>

  <urb-power-expenses
      [expenses]="rents | async"
  ></urb-power-expenses>

  <urb-check-expenses
      [expenses]="rents | async"
  ></urb-check-expenses>

  <urb-request-expenses
      [expenses]="rents | async"
  ></urb-request-expenses>
</section>

<urb-rent-month-debt
    [debt]="rent | async"
></urb-rent-month-debt>

<urb-rent-month-count
    [rent]="rent | async"
></urb-rent-month-count>

<urb-rent-period-count
    [rents]="rents | async"
></urb-rent-period-count>

<urb-rent-period-debt
    [rents]="rents | async"
></urb-rent-period-debt>

<urb-temp-chart
    [points]="tempPoints | async"
></urb-temp-chart>

<urb-power-chart
    [points]="powerPoints | async"
></urb-power-chart>
