<urb-interactive-map
  class="leaflet-map"
  [options]="options"
  (mapInstanceChanges)="onCreateMap($event)"
/>

<div class="portal">
  <tui-scrollbar>
    <tui-island class="telemetry-info-island" *ngIf="selectedRoomTelemetryInfo | async as info">
      <h3 class="tui-island__title">{{ info.roomName }}</h3>

      <div class="telemetry-info-island-content tui-island__content">
        <ul class="telemetry-list">
          <li *ngFor="let keyValue of info.result">
            <span class="key">{{ keyValue.key }}</span>
            <span class="value">{{ keyValue.value }}</span>
          </li>
        </ul>
        <!--<ng-container *ngFor="let keyValue of info.result">
          <span class="key">{{ keyValue.key }}</span>
          <span class="value">{{ keyValue.value }}</span>
        </ng-container>-->
      </div>
    </tui-island>
  </tui-scrollbar>
</div>

<tui-island class="tree-island">
  <h3 class="tui-island__title">Комнаты</h3>

  <tui-loader *ngIf="isLoading | async; else tree"></tui-loader>
</tui-island>

<ng-template #tree>
  <tui-scrollbar class="tree-island-content" [tuiTreeController]="true">
    <tui-tree *ngFor="let tree of businessCenterTrees | async"
              [value]="tree"
              [content]="treeNodeTemplate"
              [childrenHandler]="childrenHandler" />
  </tui-scrollbar>
</ng-template>

<ng-template
  #treeNodeTemplate
  let-value
>
  <div class="urb-tree-node"
       (click)="onClickTreeNode(value)"
       [class.is-selected]="value.isSelected | async">
    {{ value.name }}
  </div>
</ng-template>
