<urb-interactive-map [options]="options" style="position: fixed; z-index: 999; top: 0; left: 0;width: 100%; height: 100%;"
                     (mapInstanceChanges)="onMapInstance($event)" />

<tui-island class="tree-island">
  <h3 class="tui-island__title">Дерево</h3>

  <!--<div>
    <tui-input [formControl]="search" [tuiTextfieldSize]="'s'">
      Search
      <input
        tuiTextfield
        type="text"
      />
    </tui-input>
  </div>-->

  <tui-scrollbar class="tree-island-content" [tuiTreeController]="true">
      <tui-tree *ngFor="let tree of trees | async" [value]="tree" [content]="treeNodeTemplate" [childrenHandler]="childrenHandler" />
  </tui-scrollbar>
</tui-island>

<div style="position: fixed; bottom: 10px; left: 10px; z-index: 9999">
  <div
    tuiGroup
    class="group"
    [collapsed]="true"
  >
    <tui-radio-block
      *ngFor="let level of levels | async"
      [formControl]="selectedLevel"
      contentAlign="right"
      size="s"
      [item]="level"
      [hideRadio]="true"
    >
      {{ level }}
    </tui-radio-block>
  </div>
</div>


<ng-template
  #treeNodeTemplate
  let-value
>
  <div (click)="onClickTreeNode(value)" class="urb-tree-node">
    {{ value.name }}
  </div>
</ng-template>
