.axes {
    height: 14rem;
    width: 100%;
    margin: 2rem auto;

    --tui-chart-0: #4bc0c8;
    --tui-chart-1: #ff5f6d;
}

.pie-chart {
    margin: 2rem auto;
}

.flex {
    display: flex;
}

.pie-legends {
    display: flex;
    justify-content: space-between;

    font-weight: bold;
}

.pie-legends span:first-child {
    color: var(--tui-chart-0);
}

.pie-legends span:last-child {
    color: var(--tui-chart-1);
}

.chart-legends {
    display: flex;
    justify-content: space-between;

    font-weight: bold;
}

.chart-legends span:first-child {
    color: #4bc0c8;
}

.chart-legends span:last-child {
    color: #ff5f6d;
}
