<tui-accordion class="container">
  <tui-accordion-item>
    Перерасход электричества
    <ng-template tuiAccordionItemContent>
      Нужно построить Зиккурат
    </ng-template>
  </tui-accordion-item>
  <tui-accordion-item>
    Перерасход газа вэспен
    <ng-template tuiAccordionItemContent>
      Нужно построить завод
    </ng-template>
  </tui-accordion-item>
  <tui-accordion-item>
    Перерасход воды
    <ng-template tuiAccordionItemContent>
      У тебя тут бассейн шо ли?
    </ng-template>
  </tui-accordion-item>
</tui-accordion>
