:root {
  --tui-text-font: -apple-system, "BlinkMacSystemFont", system-ui, "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
  --tui-heading-font: -apple-system, "BlinkMacSystemFont", system-ui, "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
}

body {
  font: var(--tui-font-text-m) !important;
}
